<script setup>
import { useForm } from '@inertiajs/vue3';

import AppLayout from '@/Layouts/AppLayout.vue';
import InputError from '@/Components/InputError.vue';

defineProps({
    auth: Object,
});

const form = useForm({
    content: '',
    rating: 0,
});

const submit = () => form.post(route('feedback.create'));

</script>

<template>
    <AppLayout title="New Feedback">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Create a new feedback
            </h2>
        </template>

        <div class="mx-auto max-w-7xl px-6 lg:px-8 py-12">
            <form v-on:submit.prevent="submit" class="mx-auto max-w-2xl space-y-8 divide-y divide-gray-200">
                <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
                    <div class="space-y-6 sm:space-y-5">
                        <div>
                            <h3 class="text-base font-semibold leading-6 text-gray-900">Feedback</h3>
                            <p class="mt-1 max-w-2xl text-sm text-gray-500">This information will be displayed publicly so be careful what you share.</p>
                        </div>

                        <div class="space-y-6 sm:space-y-5">
                            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
                                <label for="username" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">User</label>
                                <div class="mt-1 sm:col-span-2 sm:mt-0">
                                    <div class="flex max-w-lg">
                                        <img class="h-8 w-8 rounded-full object-cover sm:border sm:border-gray-300" :src="auth.user.profile_photo_url" :alt="auth.user.name">
                                        <span class="inline-flex items-center px-3 text-gray-700 sm:text-sm font-medium uppercase">{{ auth.user.name }}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
                                <label for="about" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">Content</label>
                                <div class="mt-1 sm:col-span-2 sm:mt-0">
                                    <textarea id="content" v-model="form.content" rows="3" class="block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
                                    <p class="mt-2 text-sm text-gray-500">Write a few sentences about your experience.</p>
                                    <InputError :message="form.errors.content" class="mt-2" />
                                </div>
                            </div>
                            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
                                <label for="about" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">Rating</label>
                                <div class="mt-1 sm:col-span-2 sm:mt-0">
                                    <input id="rating" type="number" v-model="form.rating" class="block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
                                    <InputError :message="form.errors.rating" class="mt-2" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-5">
                    <div class="flex justify-end">
                        <button type="reset" class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Cancel</button>
                        <button type="submit" class="ml-3 inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </AppLayout>
</template>
