<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import { Link } from '@inertiajs/vue3';

defineProps({
    feedbacks: Array,
});

</script>

<template>
    <AppLayout title="Dashboard">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Dashboard
            </h2>
        </template>

        <div class="py-12">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <div class="mx-auto max-w-2xl">
                    <div class="md:flex md:items-center md:justify-between">
                        <div class="sm:w-0 sm:flex-1">
                            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Recent feedbacks</h2>
                            <p class="mt-2 text-lg leading-8 text-gray-600">Get all our recent imported feedbacks.</p>
                        </div>
                        <div v-if="$page.props.auth.user?.admin" class="mt-3 flex  md:top-3 md:right-0 md:mt-0">
                            <Link :href="route('feedback.create')" type="button" class="inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Create feedback</Link>
                        </div>

                    </div>
                    <div class="mt-10 space-y-16 border-t border-gray-200 pt-10 sm:mt-8 sm:pt-18">
                        <article v-for="feedback in feedbacks" :key="feedback.id" class="flex max-w-xl flex-col items-start justify-between">
                            <div class="group relative">
                                <p class="mt-5 text-sm leading-6 text-gray-600 line-clamp-3">{{ feedback.content }}</p>
                            </div>
                            <div v-if="feedback.user" class="relative mt-8 flex items-center gap-x-4">
                                <img :src="feedback.user.profile_photo_url" alt="" class="h-10 w-10 rounded-full bg-gray-50" />
                                <div class="text-sm leading-6">
                                    <p class="font-semibold text-gray-900">
                                        <a href="#">
                                            <span class="absolute inset-0" />
                                            {{ feedback.user.name }}
                                        </a>
                                    </p>
                                    <time :datetime="feedback.created_at" class="text-gray-600">{{ feedback.created_at }}</time>
                                </div>
                            </div>
                            <div v-else class="relative mt-8 flex items-center gap-x-4">
                                <img src="https://ui-avatars.com/api/?name=??&color=7F9CF5&background=EBF4FF" alt="" class="h-10 w-10 rounded-full bg-gray-50" />
                                <div class="text-sm leading-6">
                                    <p class="font-semibold text-gray-900">
                                        <a href="#">
                                            <span class="absolute inset-0" />
                                            N/A
                                        </a>
                                    </p>
                                    <time :datetime="feedback.created_at" class="text-gray-600">{{ feedback.created_at }}</time>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </AppLayout>
</template>
